*.aux
*.log
*.nav
*.out
*.bbl
*.blg
*.pdf
*.png
*.snm
*.toc
*.vrb
*.gz
*.m4v
*.mp3
*.mp4
!fig/placeholder.pdf
bib
audio_output
RBE-550_lecture_template-url.idx
RBE-550_lecture_template-url.ilg
.gitignore
RBE-550_lecture_template-url.ind
RBE-550_lecture_template-url.mst

audioGenerator/output.wav
audioGenerator/Jnsgm2.sf2
