*.aux
*.log
*.nav
*.out
*.bbl
*.blg
*.pdf
*.png
*.snm
*.toc
*.vrb
*.gz
*.m4v
*.mp3
*.mp4

!fig/placeholder.pdf

!template/fig/WPI_background_logo_corner.png
!template/fig/WPI_background_logo.png
!template/fig/WPI_lowres.png

bib
audio_output
RBE-550_lecture_template-url.idx
RBE-550_lecture_template-url.ilg
RBE-550_lecture_template-url.ind
RBE-550_lecture_template-url.mst

audioGenerator/output.wav

venv
simple_midi.mid
*.sf2
tet_animation/tetromino_animation.gif
animation_output/*
