template/fig/WPI_background_logo_corner.png filter=lfs diff=lfs merge=lfs -text
template/fig/WPI_background_logo.png filter=lfs diff=lfs merge=lfs -text
template/fig/WPI_Inst_Prim_FulClr.png filter=lfs diff=lfs merge=lfs -text
